<ion-view view-title="About" class="body aboutbg">

  <div class="signin-title-holder" >
        <div class="title-back" ui-sref="categories">
          <img class="title-back-icon" src="img/icon-arrow-back.png">
        </div>

        <div class="title-txt aboutbg">
          About
        </div>

        <div class="title-gradient-holder">
          <img class="title-gradient" src="img/gradient-dark.png">
        </div>
  </div>



<div class="about-logo">
  <img class="logoheytack" src="img/logo-heytack.png">
  <div class="heytack-url">
    www.heytack.com
  </div>
</div>


<div class="about-copyright">
  © 2016 Tack Multimedia Design LTD
</div>

</ion-view>
