<ion-view view-title="Details" class="body" hide-nav-bar="true">
    <ion-content>

    <div class="signin-title-holder">

          <div class="title-back" ui-sref="browse">
            <img class="title-back-icon" src="img/icon-arrow-back.png">
          </div>

          <div class="title-txt">
            Details
          </div>

          <div class="title-gradient-holder">
            <img class="title-gradient" src="img/gradient.png">
          </div>
    </div>

      <div>{{uk_url}}</div>
      <div>{{us_url}}</div>

  </ion-content>
</ion-view>
