<ion-view view-title="Landing" class="body" hide-nav-bar="true">

<div class="landing-holder" >
    <img class="landing-logo" src="img/logo-neureads.png">
    <p>
      <img class="landing-logotype" src="img/logotype-neureads.png">
    </p>
    <p> Handpicked book recommendations  </p>
</div>

<div class="button-group">
    <button class="button button-block button-landing" ng-click="signin()">
      SignIn
    </button>

    <button class="button button-block button-landing" ng-click="signup()">
      SignUp
    </button>

    <button class="button button-block button-landing-naked" ng-click="browse()">
      Skip
    </button>

</div>

</ion-view>
